@media only screen and (max-width: 600px){
/* webby version */
    .html{
        margin: 0;
    }
    body{
        background: rgb(255, 250, 240);
        font-family: Helvetica, sans-serif;

    }
    .myName{
        display: flex;
        width: auto;
        min-height: 49vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 60px;
        text-transform: uppercase;
    }
    .menuSelect{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 49vh;
        margin-top: auto;
        background-color: palevioletred; 
        justify-content: space-between;
    }
    .options{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: aqua;
        text-transform: uppercase;
        font-size: 30px;
        margin: 0;
    }

    a:visited{
        text-decoration:none;

    }
    a{
        text-decoration: none;
    }


}