@media screen and (max-width: 488px){

*{
    box-sizing: border-box;
    margin-top: 0px;
}
html {
    border: 0px;
    margin: 0px;
    /* font-family:  Helvetica; */
}
body{
    margin: 0px;
}
.heading{
    margin: 0px;
    padding-left:30% ;
    padding-right:auto;
    padding-top: 250px;
    padding-bottom: 250px    ;
    font-size:30px;
    background-color: lavender;
    font-family: Helvetica;


}
.content1{
    display: flex;
    flex-direction: column;
    padding-right:20px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    background-color: lavender;
    text-align: center;
 
}
.block1{
    font-family: Helvetica;
    background-color: rgb(255, 255, 255);

}
.menuButton{
    display: flex;
   padding: 20px;
   align-content: center;
   justify-content: space-around;
}
.buttonContent{
    border-radius: 6px;
    padding: 25px;
    font-family: helvetica;
    background-color: rgb(220, 185, 246);
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    }
    .buttonContent:hover{
      box-shadow: 5px 5px 2px black;
    }
}

@media screen and (max-width: 3000px){
*{
    box-sizing: border-box;
    margin-top: 0px;
}
html {
    border: 0px;
    margin: 0px;
font-family:  Helvetica;
scroll-behavior: smooth;
}
body{
    margin: 0px;
}
.heading{
    display: flex;
    justify-content: center;
    padding-right:auto;
    padding-top: 25%;
    padding-bottom: 25% ;
    font-size:30px;
    background-color: lavender;
    font-family: Helvetica;
    max-height: 100vh;
}

.heading2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-right:20%;
    padding-left: 20%;
    padding-top: 25%;
    padding-bottom: 25%;
    font-size:30px;
    background-color: #e6e6fa;
    font-family: Helvetica;
    max-height: 100vh;
    text-align: center;
}
.navbar{
    display: flex;
    padding: 50px   ;
    margin-right: auto;
    text-align: center;
    width: auto;
}
.quickJump{
    width: 25%;
    font-size: 60%;
    text-transform: uppercase;
       
}
.hoverStyle:hover{
    color: rgb(95, 95, 248);
    text-decoration: underline;
}

#navbar2 {
    width: 100%;
    overflow: hidden;
    background-color: rgb(150, 150, 253);
  }
  
  /* Navbar links */
  #navbar2 a {
    float: center;
    width: auto;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* float: center; */
    /* margin-left: 46%; */
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;}

a:link{
    text-decoration: none;
    color:  rgb(142, 142, 252);
}
a:visited{
    text-decoration: none;
    color:  rgb(142, 142, 252);
}
/* a:hover{
    color: rgb(103, 103, 245);
} */
.title:hover{
    color: black;
}
.buttonContent:hover{
    box-shadow: 5px 5px 2px black;
}

.title{
    font-size: 30px;
    text-align: center;
    padding: 40px;
    padding-top: 100px;
}

.video{
    display: block;
    padding: 50px;
}
.webby{
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.webby:hover{
    color: rgb(95, 95, 250);
}
.block1{
    /* padding-left: 20%; */
    padding-right:auto;
    background-color: #ffffff;
    display: flex;
    padding-bottom: 400px;
    padding-top: 200px;
    flex-direction: column;
    justify-content:center ;
    width: 100%;
 
}
 
.panel1{
    display: flex;
    flex-direction: column;
    width:100%;          
    padding-left: 20%;
    padding-right: 20%;
    margin-left:10px;
    background-color: white;
    font-size: 15px;
    line-height: 30px;
}
.progShot{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.showcase{
   max-width: 80%;
   padding: 20px;
   margin-left: auto;
   margin-right: auto;
}
.showcase2{
    max-width: 60%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
 }
 .showcase3{
    max-width:49%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
 }
.sideBy{
    display: flex;
    flex-direction: row;
}
.imgCaption{
    text-transform: capitalize;
    font-size: 10px;
}
/* AI PAGE */
.headingA{
    display: flex;
    justify-content: center;
    padding-right:auto;
    padding-top: 5%;
    padding-bottom: 5% ;
    font-size:30px;
    background-color: lavender;
    font-family: Helvetica;
    max-height: 100vh;
}
.outerShell{
    flex-direction:row;
    padding:6%;
}
.leftShell{
    display: flex;
    float: left;
    width:47%;

}
.rightShell{
    display:flex;
    flex-direction: column;
    float: right;
    width:50%;
}
.innerShellSpecs{
    display:flex;
    width: 100%
}
}